# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# edited files
*.md~
.gitignore~
*.cpp~
*.h~

Makefile
game_dhata
game_dhata.pro
moc_*
